{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email admin@nxthdr.dev
    servers {
        metrics
    }
}

(security_headers) {
    header_down Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    header_down X-Content-Type-Options "nosniff"
    header_down X-Frame-Options "DENY"
    header_down Referrer-Policy "strict-origin"
    header_down Permissions-Policy "microphone=()"
}

as215011.net {
    redir https://nxthdr.dev{uri} permanent
}

nxthdr.dev {
    reverse_proxy {
        import security_headers
        to [2a06:de00:50:cafe:10::100]:80
    }
}

clickhouse.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::102]:9090
}

prometheus.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::104]:9090
}

grafana.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::105]:3000
}

loki.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::109]:3100
    basic_auth {
		admin {{ loki.hashed_password }}
	}
}

saimiris.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::114]:8080
}

peerlab.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::118]:8080
}

blog.nxthdr.dev {
    reverse_proxy {
        import security_headers
        to [2a06:de00:50:cafe:10::115]:80
    }
}

docs.nxthdr.dev {
    reverse_proxy {
        import security_headers
        to [2a06:de00:50:cafe:10::117]:80
    }
}

geofeed.nxthdr.dev {
    reverse_proxy {
        import security_headers
        header_down Content-Security-Policy "default-src 'self';"
        to [2a06:de00:50:cafe:10::1003]:80
    }
}

peers.nxthdr.dev {
    reverse_proxy {
        import security_headers
        header_down Content-Security-Policy "default-src 'self' clickhouse.nxthdr.dev;"
        to [2a06:de00:50:cafe:10::1004]:80
    }
}

headscale.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::1005]:8080
}

headplane.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::1006]:3000
}

rpki.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::1007]:8323
}
