// Syslog configuration
discovery.relabel "syslog" {
    targets = []

    rule {
        source_labels = ["__syslog_message_hostname"]
        target_label  = "host"
    }

    rule {
        source_labels = ["__syslog_message_hostname"]
        target_label  = "hostname"
    }

    rule {
        source_labels = ["__syslog_message_severity"]
        target_label  = "level"
    }

    rule {
        source_labels = ["__syslog_message_app_name"]
        target_label  = "application"
    }

    rule {
        source_labels = ["__syslog_message_facility"]
        target_label  = "facility"
    }

    rule {
        source_labels = ["__syslog_connection_hostname"]
        target_label  = "connection_hostname"
    }
}

loki.source.syslog "syslog" {
    listener {
        address      = "0.0.0.0:601"
        protocol     = "tcp"
        idle_timeout = "0s"
        use_rfc5424_message = true
        labels       = { job = "syslog", component = "loki.source.syslog", protocol = "tcp" }
        max_message_length = 0
    }
    listener {
        address      = "0.0.0.0:514"
        protocol     = "udp"
        idle_timeout = "0s"
        use_rfc5424_message = true
        labels       = { job = "syslog", component = "loki.source.syslog", protocol = "udp" }
        max_message_length = 0
    }
    forward_to    = [loki.write.syslog.receiver]
    relabel_rules = discovery.relabel.syslog.rules
}

loki.write "syslog" {
    endpoint {
        url = "https://loki.nxthdr.dev/loki/api/v1/push"

        basic_auth {
            username = "admin"
            password = "{{ loki.password }}"
        }
    }
}

// Prometheus configuration
prometheus.remote_write "default" {
    endpoint {
        url = "https://prometheus.nxthdr.dev/api/v1/write"

        basic_auth {
            username = "admin"
            password = "{{ prometheus.password }}"
        }
    }
}

prometheus.relabel "node_exporter_job_relabel" {
    rule {
        source_labels = ["job"]
        target_label  = "job"
        replacement   = "node-exporter"
    }

    forward_to = [prometheus.relabel.instance_relabel.receiver]
}

prometheus.relabel "instance_relabel" {
    rule {
        source_labels = ["instance"]
        target_label  = "instance"
        replacement   = "{{ inventory_hostname }}"
    }

    forward_to = [prometheus.remote_write.default.receiver]
}

prometheus.scrape "node_exporter" {
    targets = [{
    __address__ = "node_exporter:9100",
    }]

    forward_to = [prometheus.relabel.node_exporter_job_relabel.receiver]
}

prometheus.scrape "cadvisor" {
    targets = [{
    __address__ = "cadvisor:8080",
    }]

    forward_to = [prometheus.relabel.instance_relabel.receiver]
}

// Self monitoring
prometheus.exporter.self "default" {
}

prometheus.scrape "metamonitoring" {
  targets    = prometheus.exporter.self.default.targets
  forward_to = [prometheus.relabel.alloy_job_relabel.receiver]
}

prometheus.relabel "alloy_job_relabel" {
    rule {
        source_labels = ["job"]
        target_label  = "job"
        replacement   = "alloy"
    }

    forward_to = [prometheus.relabel.instance_relabel.receiver]
}
