{
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

as215011.net {
    reverse_proxy [2a06:de00:50:cafe:10::10]:80
}

geofeed.as215011.net {
    reverse_proxy [2a06:de00:50:cafe:10::11]:80
}

nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::100]:80
}

clickhouse.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::101]:8123
}