{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email admin@nxthdr.dev
    servers {
        metrics
    }
}

as215011.net {
    reverse_proxy [2a06:de00:50:cafe:10::10]:80
}

geofeed.as215011.net {
    reverse_proxy [2a06:de00:50:cafe:10::11]:80
}

peers.as215011.net {
    reverse_proxy [2a06:de00:50:cafe:10::12]:80
}

nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::100]:80
}

clickhouse.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::102]:9090
}

prometheus.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::104]:9090
}

loki.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::109]:3100
}

grafana.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::105]:3000
}

api.risotto.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::1000]:3000
}

dyndns.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:10::1002]:3000
}
