#!/bin/bash

set -m
rpkcmd="/usr/bin/rpk -X brokers=2a06:de00:50:cafe:10::103"

# Start Redpanda in the background
rpk redpanda start --overprovisioned --smp 1 --memory 2G --reserve-memory 200M --node-id 0 --check=false &

# Wait for Redpanda to be ready
sleep 3

# Create `admin` superuser
$rpkcmd cluster config set superusers ['{{ redpanda.superuser.username }}']
$rpkcmd security user create {{ redpanda.superuser.username }}  -p '{{ redpanda.superuser.password }}' --mechanism=SCRAM-SHA-512

# Enable SASL
$rpkcmd cluster config set enable_sasl true

# Create Saimiris user and grant it access to the cluster and the `saimiris-replies` topic
rpkcmd="/usr/bin/rpk -X brokers=2a06:de00:50:cafe:100::b"
$rpkcmd security user create {{ redpanda.saimiris.username }} -p '{{ redpanda.saimiris.password }}' --mechanism SCRAM-SHA-512
$rpkcmd security acl create --allow-principal User:{{ redpanda.saimiris.username }} --operation all --cluster -X user={{ redpanda.superuser.username }} -X pass='{{ redpanda.superuser.password }}' -X sasl.mechanism=SCRAM-SHA-512
$rpkcmd security acl create --allow-principal User:{{ redpanda.saimiris.username }} --operation all --topic saimiris-probes -X user={{ redpanda.superuser.username }} -X pass='{{ redpanda.superuser.password }}' -X sasl.mechanism=SCRAM-SHA-512
$rpkcmd security acl create --allow-principal User:{{ redpanda.saimiris.username }} --operation all --topic saimiris-replies -X user={{ redpanda.superuser.username }} -X pass='{{ redpanda.superuser.password }}' -X sasl.mechanism=SCRAM-SHA-512
$rpkcmd security acl create --allow-principal User:{{ redpanda.saimiris.username }} --operation all --group saimiris-agent --resource-pattern-type prefixed -X user={{ redpanda.superuser.username }} -X pass='{{ redpanda.superuser.password }}' -X sasl.mechanism=SCRAM-SHA-512
fg %1
