{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email admin@nxthdr.dev
    servers {
        metrics
    }
}

as215011.net {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

blog.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

docs.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

geofeed.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

peers.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

clickhouse.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

prometheus.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

loki.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

grafana.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}

saimiris.nxthdr.dev {
    reverse_proxy [2a06:de00:50:cafe:100::a]:443 {
        transport http {
           tls_server_name {host}
        }
    }
}
