router id 37.49.238.198;

# Peering Course - Dynamic BGP for peerlab participants
include "/etc/bird/peerlab.conf";

log syslog all;

protocol device { scan time 5; }
protocol direct { ipv4; }
protocol direct { ipv6; }

protocol kernel {
  learn;
  metric 0;
  ipv6 {
    import all;
    export all;
  };
}

# Static routes for Tailscale network
# IPv4 CGNAT range - makes BIRD aware that 100.64.0.0/10 is reachable via tailscale0
protocol static tailscale_ipv4 {
  ipv4;
  route 100.64.0.0/10 via "tailscale0";
}

# RPKI
roa4 table r4;
roa6 table r6;

protocol rpki {
  roa4 { table r4; };
  roa6 { table r6; };

  remote "rtr.rpki.cloudflare.com" port 8282;

  retry keep 90;
  refresh keep 900;
  expire keep 172800;
}

# BMP
protocol bmp {
    station address ip 2a06:de00:50:cafe:100::c port 4000;
    monitoring rib in pre_policy;
    monitoring rib in post_policy;
}

# Import filters
function is_rpki_invalid () -> bool {
  return (roa_check(r4, net, bgp_path.last) = ROA_INVALID ||
          roa_check(r6, net, bgp_path.last) = ROA_INVALID);
}

filter ImportFilter {
    if is_rpki_invalid() then reject;
    accept;
}

# Export filters
# 2a06:de00:50::/48  - Core Infrastructure
# 2a06:de00:5b::/48  - PeerLab prefixes
# 2a06:de00:5c::/48  - PeerLab prefixes
filter ExportFilter {
    if (net ~ [ 2a06:de00:50::/48, 2a06:de00:5b::/48, 2a06:de00:5c::/48 ]) then {
        bgp_path.delete([64512..65534, 4200000000..4294967294]);
        accept;
    } else reject;
}


# BGP upstreams


# Peers
## FranceIX
protocol bgp FranceIX1  {
    local 2001:7f8:54::2:198 as 215011;
    neighbor 2001:7f8:54::250 as 51706;
    ipv6 {
        import table on;
        import keep filtered;
        import filter ImportFilter;
        export filter ExportFilter;
    };
}

protocol bgp FranceIX2  {
    local 2001:7f8:54::2:198 as 215011;
    neighbor 2001:7f8:54::251 as 51706;
    ipv6 {
        import table on;
        import keep filtered;
        import filter ImportFilter;
        export filter ExportFilter;
    };
}
