apiVersion: 1
datasources:
- name: Loki
  type: loki
  access: proxy
  orgId: 1
  url: https://loki.nxthdr.dev
  basicAuth: true
  basicAuthUser: admin
  secureJsonData:
    basicAuthPassword: "{{ loki.password }}"
  isDefault: false
  version: 1
  editable: false

- name: Prometheus
  type: prometheus
  orgId: 1
  url: https://prometheus.nxthdr.dev
  basicAuth: true
  basicAuthUser: admin
  secureJsonData:
    basicAuthPassword: "{{ prometheus.password }}"
  isDefault: true
  version: 1
  editable: false

- name: ClickHouse
  type: grafana-clickhouse-datasource
  jsonData:
    defaultDatabase: default
    port: 9000
    host: "[2a06:de00:50:cafe:10::101]"
    username: chproxy
    sslSkipVerify: true
