// DNS provider
porkbun_api_key =  "{{ porkbun_api_key }}"
porkbun_secret_api_key = "{{ porkbun_secret_api_key }}"

// Alertmanager
alertmanager_discord_webhook_url = "{{ alertmanager_discord_webhook_url }}"

// Redpanda
redpanda_superuser_username = "{{ redpanda_superuser_username }}"
redpanda_superuser_password = "{{ redpanda_superuser_password }}"
redpanda_osiris_username = "{{ redpanda_osiris_username }}"
redpanda_osiris_password = "{{ redpanda_osiris_password }}"

// CHbot
chbot_discord_token = "{{ chbot_discord_token }}"

// DynDNS
dyndns_auth_token = "{{ dyndns_auth_token }}"