[Unit]
Description="Saimprowler Cronjob"

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=saimprowler.service

[Install]
WantedBy=multi-user.target
