[Unit]
Description=Saimprowler Cronjob
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=30s

User=nxthdr
Group=nxthdr

ExecStart=/home/nxthdr/cronjobs/saimprowler/saimprowler.sh

[Install]
WantedBy=multi-user.target
