global:
  scrape_interval: 30s

  external_labels:
    monitor: nxthdr

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['[2a06:de00:50:cafe:10::106]:9093']

rule_files:
  - /config/alerts.yml

scrape_configs:
  - job_name: prometheus
    basic_auth:
      username: "{{ prometheus.username }}"
      password: "{{ prometheus.password }}"
    static_configs:
      - targets: ['localhost:9090']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: proxy
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::a]:2019']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: nxthdr.dev
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::100]:2019']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: clickhouse
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::101]:9126']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: chproxy
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::102]:9090']
    relabel_configs:
      - source_labels: [__name__]
        target_label: __name__
        replacement: chproxy_$1

  - job_name: redpanda
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::103]:9644']
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: redpanda-public
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::103]:9644']
    metrics_path: /public_metrics
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: node-exporter
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::107]:9100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: cadvisor
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::108]:8080']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: loki
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::109]:3100']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: grafana
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::105]:3000']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: risotto
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::112]:8080']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01

  - job_name: goflow
    static_configs:
      - targets: ['[2a06:de00:50:cafe:10::113]:8080']
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: coreams01
