# ansible-playbook -k -i inventory/ -e "base_dir=$(pwd)" -e @secrets/secrets.yml -e 'ansible_user=root' --vault-password-file .password playbooks/install-user.yml
---
- hosts: core, ixp, vlt
  tasks:
  - name: Create a user `nxthdr` with a home directory
    ansible.builtin.user:
      name: nxthdr
      password: "{{ nxthdr_hashed_password }}"
      create_home: yes
      uid: 1001
      groups: sudo
      append: yes
      shell: /bin/bash

  - name: Configure passwordless sudo for `nxthdr` user
    ansible.builtin.copy:
      src: "{{ base_dir }}/templates/config/shared/sudoers/nxthdr"
      dest: /etc/sudoers.d/nxthdr
      owner: root
      group: root
      mode: '0440'

  - name: Ensure the `.ssh` directory exists
    ansible.builtin.file:
      path: /home/nxthdr/.ssh
      state: directory

  - name: Copy SSH public keys for `root` user
    ansible.builtin.copy:
      src: "{{ base_dir }}/templates/config/shared/authorized_keys"
      dest: /root/.ssh/authorized_keys
      owner: root
      group: root
      mode: '0600'

  - name: Copy SSH public keys for `nxthdr` user
    ansible.builtin.copy:
      src: "{{ base_dir }}/templates/config/shared/authorized_keys"
      dest: /home/nxthdr/.ssh/authorized_keys
      owner: nxthdr
      group: nxthdr
      mode: '0600'
