# ansible-playbook -i inventory/ -e "base_dir=$(pwd)" -e @secrets/secrets.yml --ask-become-pass --vault-password-file .password playbooks/sync-wireguard.yml
---
- hosts: core, ixp
  become: yes
  tasks:
  - name: Copy WireGuard configuration files
    ansible.builtin.copy:
      src: "{{ item.src }}"
      dest: /etc/wireguard/
      mode: '0600'
    with_fileglob: "{{ base_dir }}/.rendered/{{ inventory_hostname }}/wireguard/*.conf"

  - name: Enable and restart wg0
    ansible.builtin.systemd_service:
      name: wg-quick@wg0.service
      state: restarted
      enabled: true

  - name: Enable and restart wg1
    ansible.builtin.systemd_service:
      name: wg-quick@wg1.service
      state: restarted
      enabled: true
